name: prod

on:
  push:
    branches: [master]

  workflow_dispatch:

jobs:
  deploy-production:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Deploy para VPS
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.REMOTE_PORT }}
          command_timeout: 40m
          script: |
            set -e

            BASE_DIR=${{ secrets.TARGET_PRODUCTION }}/front
            RELEASE_DIR=$BASE_DIR/releases/$(date +%Y-%m-%d_%H-%M-%S)
            CURRENT_DIR=$BASE_DIR/current

            echo "➡️ Criando release"
            mkdir -p $RELEASE_DIR
            cd $RELEASE_DIR

            echo "➡️ Clonando código"
            git clone git@github.com:EchoOficial/web.git .

            echo "➡️ Instalando dependências"
            npm install --legacy-peer-deps

            echo "➡️ Buildando Next.js"
            npm run build

            echo "➡️ Trocando release (atomic)"
            ln -sfn $RELEASE_DIR $CURRENT_DIR

            echo "➡️ Reiniciando PM2"
            pm2 reload echo-front || pm2 start npm --name "echo-front" -- start --cwd $CURRENT_DIR
            pm2 save

            echo "➡️ Ajustando permissões"
            chown -R www-data:www-data $BASE_DIR
            chmod -R 755 $BASE_DIR