name: prod

on:
  push:
    branches: [master]

  workflow_dispatch:

jobs:
  deploy-production:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Deploy para VPS
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.REMOTE_PORT }}
          command_timeout: 40m
          script: |
            set -e

            APP_DIR=${{ secrets.TARGET_PRODUCTION }}/front

            echo "➡️ Atualizando código"
            mkdir -p $APP_DIR
            cd $APP_DIR

            if [ ! -d ".git" ]; then
              git clone https://github.com/EchoOficial/web.git .
            else
              git fetch origin
              git reset --hard origin/master
            fi

            echo "➡️ Instalando dependências"
            npm install --legacy-peer-deps

            echo "➡️ Buildando Next.js"
            npm run build

            echo "➡️ Reiniciando PM2"
            pm2 restart simpmusic-front || pm2 start npm --name "simpmusic-front" -- start
            pm2 save

            echo "➡️ Ajustando permissões"
            chown -R www-data:www-data $APP_DIR
            chmod -R 755 $APP_DIR
